
@import url("https://use.typekit.net/pvj5oye.css");


/* color principal #24744D */
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

img{

    max-width: 100%;
}

/* RESET */

.fondo-index{
    background-image: url(../img/fondo\ auto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #010101;
    padding: 5rem;
    
}

.logo{
    width: 10rem;
}



.caja{ 
    font-family: "tenso", sans-serif;
    color: white;
}


.contenedor-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "caja6 caja3"
    "caja4 caja5";
    place-items: center;
    gap: 1rem;
}


.caja1{
    grid-area: caja1;
    align-self: end;
}

.caja2{
    grid-area: caja2;
    border: 8px solid #227652;
    align-self: start;
}

.caja3{
    grid-area: caja3;
    border: 8px solid #227652;
    align-self: end;
    margin-top: 5rem;
}

.caja4{
    grid-area: caja4;
}

.caja5{
    grid-area: caja5;
    border: 8px solid #227652;
    margin-top: 6rem;
    
}


.caja6{
    grid-area: caja6;
    font-weight: 300;
    text-align: center;
}


footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #227652;
}

.pie{
    padding: 2rem;
    color: white;
    font-family: "tenso", sans-serif;
    font-weight: 300;
}


@media screen and (max-width: 480px) {
    .contenedor-index{
        display: flex;
        flex-direction: column;    
    }

    .caja1{
        position: relative;
        top: 10px;
        right: 50px;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .pie{
        padding: 1rem;
        color: white;
    }

}



.contenedor-quehacemos{
    background-color: #227652;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ".      foto"
    "titulo foto"
    "info   foto"
    ".      foto";
    place-items: center;
}


.caja-quehacemos1{
    color: white;
    grid-area: titulo;
    font-family: "tenso", sans-serif;


}

.caja-quehacemos2{
    color: white;
    grid-area: info;
    text-align: center;
    font-family: "tenso", sans-serif;
    font-weight: 300;
}

.caja-quehacemos3{
    background-color: #010101;
    grid-area: foto;
}


.contenedor-proveedores{
    background-color: #227652;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "foto1 ."
    "foto1 proveedores"
    "foto1 info"
    "foto1 .";
    place-items: center;
}

.contenedor-proveedores1{
    color: white;
    grid-area: proveedores;
    font-family: "tenso", sans-serif;
}

.contenedor-proveedores2{
    color: white;
    grid-area: info;
    text-align: center;
    font-family: "tenso", sans-serif;
    font-weight: 300;
}

.contenedor-proveedores3{
    grid-area: foto1;
}



@media screen and (max-width: 480px) {
    .contenedor-proveedores {
        display: flex;
        flex-direction: column;
    }

    .qhInfo{
        padding: 2rem;
    }



    .contenedor-quehacemos {
        display: flex;
        flex-direction: column;
    }

    .contenedor-proveedores3{
        padding-bottom: 5rem;
    }
}

.prFondo{
    background-color: #227652;
}


.productos{
    color: white;
    font-family: "tenso", sans-serif;
    padding: 2rem;
    text-align: center;
}


.prStock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 3rem;
    gap: 2rem;
}


.cajaPr{
    border: 8px solid black;
}

.fondoInst{
    background-color: #227652;
}




.contenedorInst {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . ."
      ". imagen imagen . . . ."
      ". imagen imagen . sala sala ."
      ". imagen imagen . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . nombre2 nombre2 nombre2 . ."
      ". . . . . . ."
      ". imagen2 imagen2 . imagen3 imagen3 ."
      ". imagen2 imagen2 . imagen3 imagen3 ."
      ". imagen2 imagen2 . imagen3 imagen3 ."
      ". imagen2 imagen2 . imagen3 imagen3 ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . nombre4 . ."
      ". . . imagen5 imagen5 imagen5 ."
      ". nombre3 . imagen5 imagen5 imagen5 ."
      ". imagen4 . imagen5 imagen5 imagen5 ."
      ". imagen4 . imagen5 imagen5 imagen5 ."
      ". imagen4 . imagen5 imagen5 imagen5 ."
      ". imagen4 . imagen5 imagen5 imagen5 ."
      ". . . . . . .";
      place-items: center;
  }
  
  .cajaInst{
    font-family: "tenso", sans-serif;
    color: white;

  }

  .cajaInst1 { grid-area: sala; }
  
  .cajaInst6 { grid-area: imagen; }
  
  .cajaInst5 { grid-area: imagen2; }
  
  .cajaInst7 { grid-area: imagen3; }
  
  .cajaInst8 { grid-area: imagen4; }
  
  .cajaInst9 { grid-area: imagen5; }
  
  .cajaInst2 { grid-area: nombre4; }
  
  .cajaInst3 { grid-area: nombre3; }
  
  .cajaInst4 { grid-area: nombre2; }


.contenedorForm{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.contactoFondo{
    background-color: #227652;
}


.estiloContacto{
    color: white;
    font-family: "tenso", sans-serif;
}


.estiloContacto2{
    color: white;
    font-family: "tenso", sans-serif;
    font-weight: 300;
}


