
.contacto{
    background-image: url(../img/Captura\ de\ pantalla\ 2023-08-14\ 165338.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    padding: 2rem;

    

    .contenedorCont{
        padding: 4rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        
        .contenedorInfo{
            
    
            .estiloContacto{
        
            padding: 2rem;
            color: white;
            font-family: $fuentePrincipal;
            }
        
        
        }
    }

    .contenedorForm{
        
        .form{
            color: white;
            display: block;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 10px;
            border-right: transparent;
            border-bottom: transparent;
            width: 100%;
            background-color: black;
        }

    
        .nombre{
            grid-area: nombre;
        }

        .numero{
            grid-area: numero;
        }

        .mail{
            grid-area: mail;
        }

        .mensaje{
            grid-area: mensaje;
        }

        .enviar{
            grid-area: enviar;
        }
    }
}

@media screen and (max-width: 800px) {
    
    .contenedorCont{
        display: flex;
        flex-direction: column;


        .contenedorInfo{
            text-align: start;

            .estiloContacto{
                text-align: center;
            }
        }
    }
}
