.contenedorForm{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.contactoFondo{
    background-color: #227652;
}


.estiloContacto{
    color: white;
    font-family: "tenso", sans-serif;
}


.estiloContacto2{
    color: white;
    font-family: "tenso", sans-serif;
    font-weight: 300;
}
