
.contacto{
    background-color: $colorPrincipal;
    padding: 2rem;

    .contenedorUbicacion{
        padding: 4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    
        .estiloContacto{
            padding: 2rem;
            color: white;
            font-family: $fuentePrincipal;
        }
        
    }
    
    .contenedorForm{
        margin: 0rem 5rem 0rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;

        .form{
            margin: 0.5rem;
        }



    }
}


