.logo{
    width: 10rem;
}

.fondo-index{
    background-image: url(../img/fondo\ auto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #010101;
    padding: 5rem;
    
}


.contenedor-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "caja6 caja3"
    "caja4 caja5";
    place-items: center;
    gap: 1rem;

    .caja{ 
        font-family: $fuentePrincipal;
        color: white;
    }
    
    .caja1{
        grid-area: caja1;
        align-self: end;
    }
    
    
    
    .caja2{
        grid-area: caja2;
        border: 8px solid $colorPrincipal;
        align-self: start;
    }
    
    .caja3{
        grid-area: caja3;
        border: 8px solid $colorPrincipal;
        align-self: end;
        margin-top: 5rem;
    }
    
    .caja4{
        grid-area: caja4;
    }
    
    .caja5{
        grid-area: caja5;
        border: 8px solid $colorPrincipal;
        margin-top: 6rem;
        
    }
    
    
    .caja6{
        grid-area: caja6;
        font-weight: 300;
        text-align: center;
    }
}




@media screen and (max-width: 1200px) {
    .contenedor-index{
        display: flex;
        flex-direction: column;

        .caja1{
            align-self: center;
        }

        .caja2{
            align-self: center;
        }

        .caja3{
            align-self: center;
        }
    }
}
