
.fondoInst{
  background-color: $colorPrincipal;

  .contenedorInst {
    padding-left: 3rem;
    padding-right: 3rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "imagen1 . . . ."
      "imagen1 texto1 . texto2 ."
      "imagen1 . imagen2 imagen2 imagen2"
      ". . imagen2 imagen2 imagen2"
      "imagen3 imagen3 texto3 imagen4 imagen4"
      "imagen3 imagen3 texto3 imagen4 imagen4"
      "imagen3 imagen3 texto3 imagen4 imagen4";
      place-items: center;


      .cajaInst{
        font-family: $fuentePrincipal;
        color: white;
    
      }
    
      .cajaInst1 { 
        grid-area: texto1; 
     }
      
      .cajaInst6 { 
        grid-area: imagen1;
        border: 5px solid black;  
    }
      
      .cajaInst5 { 
        grid-area: imagen2;
        border: 5px solid black;
     }
      
      .cajaInst7 {
         grid-area: imagen3;
         border: 5px solid black;
     }
      
      .cajaInst8 {
         grid-area: imagen4;
         border: 5px solid black;
     }
    
      .cajaInst2 {
         grid-area: texto2;
         align-self: end;
     }
      
      .cajaInst3 {
         grid-area: texto3;
     }

     
  }


}


@media screen and (max-width: 870px) {
  .fondoInst{

    .contenedorInst{
      padding: 3rem;
      display: flex;
      flex-direction: column;

      .cajaInst{ 
        margin: 2rem;
      }

      .cajaInst1{
        order: 1;
      }

      .cajaInst2{
        align-self: center;
        order: 3;
        
      }

      .cajaInst3{
        margin-top: 2rem;
        order: 5;
      }

      .cajaInst5{
        order: 4;
      }

      .cajaInst6{
        order: 2;
      }

      .cajaInst7{
        order: 6;
      }

      .cajaInst8{
        order: 7;
      }
    }
  }
  
}
  
