.contenedor-quehacemos{
    background-color: #010101;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ".      foto"
    "titulo foto"
    "info   foto"
    ".      foto"
    "proveedores  proveedores"
    "imgPr1  imgPr1"
    "imgPr2  imgPr2"
    "imgPr3  imgPr3"
    "imgPr4  imgPr4";
    place-items: center;
    padding-bottom: 8rem;

    .caja-proveedores{
        padding: 3rem;
    }


    .caja-quehacemos1{
        color: white;
        grid-area: titulo;
        font-family: $fuentePrincipal;
        align-self: end;
    }

    
    
    .caja-quehacemos2{
        color: white;
        grid-area: info;
        text-align: center;
        font-family: $fuentePrincipal;
        font-weight: 300;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .caja-quehacemos3{
        grid-area: foto;

    }

    .contenedor-proveedores{
        color: white;
        grid-area: proveedores;
        font-family: $fuentePrincipal;
        padding-top: 5rem;
    }
    
    .contenedor-proveedores2{
        grid-area: imgPr1;

    }
    
    .contenedor-proveedores3{
        grid-area: imgPr2;
        width: 25rem;
    }
    
    .contenedor-proveedores4{
        grid-area: imgPr3;

    }

    .contenedor-proveedores5{
        grid-area: imgPr4;
    }
}


@media screen and (max-width: 980px) {

    .contenedor-quehacemos {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;

        .caja-quehacemos1{
            align-self: center;
        }


        .contenedor-proveedores1{
            align-self: center;
        }
    
    }
}

    

    

