.contenedor-quehacemos{
    background-color: #010101;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ".      foto"
    "titulo foto"
    "info   foto"
    ".      foto"
    "proveedores  proveedores"
    "infoPr  infoPr";
    place-items: center;
    padding-bottom: 8rem;

    
    
    .caja-quehacemos2{
        color: white;
        grid-area: info;
        text-align: center;
        font-family: "tenso", sans-serif;
        font-weight: 300;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .caja-quehacemos3{
        
        grid-area: foto;
    }

    .contenedor-proveedores1{
        color: white;
        grid-area: proveedores;
        font-family: "tenso", sans-serif;
        padding-top: 5rem;
    }
    
    .contenedor-proveedores2{
        color: white;
        grid-area: infoPr;
        text-align: center;
        font-family: "tenso", sans-serif;
        font-weight: 300;
        padding-left: 15rem;
        padding-right: 15rem;

    }
    
    
}

.caja-quehacemos1{
    color: white;
    grid-area: titulo;
    font-family: "tenso", sans-serif;
    align-self: end;
}



@media screen and (max-width: 980px) {

    .contenedor-quehacemos {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    .caja-quehacemos1{
        align-self: center;
    }

    .contenedor-proveedores1{
        align-self: center;
    }


}